.App {
  text-align: inherit;
}

.loader-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-gif{
  height: 40%;
  width: 40%;
}

.rowInput{
  color: red;
  min-height:50px;
  font-size:xx-large;
  max-width: 98%;
}

.input-div{
  display: flex;
  flex-direction: row;
}

.header-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name{
  color:rgb(66, 83, 37);
  margin-bottom: 40px;
  font-size: 250%;
}

#stats-icon{
  width: 11%;
  height: 11%;
  margin-left: 4%;
}

#gameWordAvg{
  background-color:rgb(202, 230, 167);
  font-size: large;
  padding-left: 2px;
  padding-right: 2px;
}

#help-icon{
  width: 11%;
  height: 11%;
  margin-left: 40%;
}

#help-icon-after{
  width: 11%;
  height: 11%;
}

#exit-icon{
  width: 20px;
  height: 20px;
  float: right;
}

#guessboard2, #guessboard3{
  width: 25%;
  height: 25%;
}

.afterGame{
  color: darkolivegreen;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: xx-large;
  max-width: 50%;
}

.diffNum{
  color: rebeccapurple;
  font-size:80%;
  padding: 2px;
  border: 2px dashed saddlebrown ;
  
}
.popup-div{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: #f0f0f0;
  border: solid gray .5px;
  border-radius: 10px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 100%;
}

.help-popup{
  text-align: center;
  font-size: medium;
  padding: 4%;
  background-color: #f0f0f0;
  flex-direction: column;
  border: solid gray .5px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85vh;
  width: 100%;

}

.help-bet-images{
  display: flex;
  flex-direction: row;
  max-height: 30%;
  gap: 45px;
  justify-content: center;
  
}

.stats-popup{
  text-align: center;
  padding: 4%;
  background-color: #f0f0f0;
  flex-direction: column;
  border: solid gray .5px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  min-width: 60vw;
}

.stats-popup h4, h3{
  margin-top: 3.5%;
  margin-bottom: 2%;
}

#found-stat{
  font-size: medium;
}

#copy-div button{
  margin-top: 3%;
  padding: 4px;
  height: 5%;
  font-size: large;
  background-color:chartreuse;
  cursor:pointer;
  border: 1px solid black;
  border-radius: 2px;
}

.game-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 50%;
}

.radio-toolbar {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color:lavender;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

input[type=submit]{
  align-self: center;
  padding: 10px 10px;
  margin-top: 15px;
  background-color: #7ee68e;
  font-weight: bold;
  border-radius: 8px;
  width: 60%;
}

#hint-div{
  border: 2px solid darkgreen;
  background-color: white;
  padding: 2px;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media screen {
  @-ms-viewport {
    width: device-width;
  }
}

@media only screen and (max-width: 475px) {
  .after-game-row .stats-popup, .after-game-row .help-popup{
    margin-left: 0;
    width: 96vw;
    height: fit-content;
  }
  .popup-div, .stats-popup, .help-popup {
    width: 90vw;
    margin-left: 10%;
    height: fit-content;
  }
  
}

@media only screen and (max-width: 790px) {
  .loader-container{
    left: 60%;
  }
  
  
}

@media only screen and (max-width: 460px) {
  #help-icon-after, #help-icon, #stats-icon{
    height: 29%;
    width: 29%;
  }
  #help-icon{
    margin-left: 20%;
  }
  
}